<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- Custom CSS -->
  <style>
    body {
      background-color: #f8f9fa;
    }
    .form-control:focus {
      border-color: #007bff;
      box-shadow: none;
    }
  </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Your Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <br>
      <h2 class="text-center"> Provider DashBoard </h2> <br><br>



    <div class="row justify-content-center">
      <div class="card w-35">
        <div class="card-body">
          <h5 class="card-title">Are you going today?</h5>
          <p class="card-text">Fill up the form with relevent information.</p>
          <a href="/dashboard/details" class="btn btn-primary">Add details</a>
        </div>
      </div>
    </div><br>




    <h4>Available rides</h4>
    <div class="row justify-content-center">
      <div class="card-group " style="width: 100rem; ">
        <div class="card" style="width: 10rem;">
          <img src="https://images.unsplash.com/photo-1468779065891-103dac4a7c48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> <%= start1 %> </h5>
            <p class="card-text">Preffered pickup location is <%= address1 %> </p>
            <a href="/dashboard/requested" class="btn btn-primary">Book ride</a>
          </div>
        </div>
        <div class="card" style="width: 10rem;">
          <img src="https://images.unsplash.com/photo-1468779065891-103dac4a7c48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= start2 %></h5>
            <p class="card-text">Preffered pickup location is <%= address2 %></p>
            <a href="/dashboard/requested" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 10rem;">
          <img src="https://images.unsplash.com/photo-1468779065891-103dac4a7c48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= start3 %></h5>
            <p class="card-text">Preffered pickup location is <%= address3 %></p>
            <a href="/dashboard/requested" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      

    </div>

      




<!-- STATUS CARD -->
<br><br>

<div class="row justify-content-center">
  <div class="card text-center" style="width: 45rem;">
    <img src="https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">STATUS BOARD</h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Payment Status: Unpaid<br><a href="/payment/info" class="card-link">Make Payment</a></li>
      <li class="list-group-item">Unique code: <b><%= unique %></b> </li>
      <li class="list-group-item">Riders name: <b><%= name %></b></li>
      <li class="list-group-item">Phone number: <b>0<%= phone %></b></li>
      <li class="list-group-item">Unique ride ID: <b> <%= uniqueRideId %></li>
      <br>

      <% if (status == "accepted") { %>
        <p> You have accepted the ride brother</p> 
        <a href="/provider/current/<%= id %>" class="btn btn-primary">End ride</a>    
          
          
          
       
       
       
        <%} else { %>
          <a href="/provider/current/<%= id %>" class="btn btn-primary">Accept ride</a>
        <% } %>


      
      <br>
    </ul>
    <div class="card-body">
      <a href="/rate" class="card-link">Rate Rider</a>
      <!-- <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>
  
</div>



 






  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-6+y8M6jg0pU7sO+G0pYRHlFW44y83XKjG+2OgbheawICBdiwTjML27ZvBm+6utPUYy+JJMijBjre+1blQkGqbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
